html{
    background-color: rgb(158, 129, 93);
}
img{
    width: 700px;
    height: 400px;
}
image > img{
    width: 700px;
    height: 400px;
}
@media (width<500px){
    image>img{
        width: 90%;
        height: 400px;
    }
    
}
